:root {
  --card-text-size: 20px;
  --card-img-width: 200px;
  --card-gap-size: 20px;
  --card-padding-size: 5px 10px;

  --result-padding-size: 40px;

  --title-text-size: 28px;
  --logo-width: 100px;

  --button-padding-size: 12px 20px;

  --logo-and-title-gap-size: 20px;

  --header-gap: 20px;

  --header-form-gap-size: 20px;

  @media (max-width: 840px) {
    --card-text-size: 16px;
    --card-img-width: 100px;
    --card-gap-size: 10px;

    --result-padding-size: 20px;

    --title-text-size: 18px;
    --logo-width: 60px;

    --button-padding-size: 8px 12px;

    --logo-and-title-gap-size: 5px;

    --header-gap: 7px;

    --header-form-gap-size: 7px;
  }

  --root-bg-color: #db929a;
  --header-bg-color: #c2adaf;
  --main-bg-color: #e4cdcf;
  --button-bg-color: #DC3545;
  --button-hover-bg-color: #212529;
  --button-text-color: #1A1D20;
  --button-hover-text-color: #FFFFFF;
  --primary-text-color: #1A1D20;
  --separator-bg-color: #1A1D20;
  --logo-filter: invert(0);
  --mark-button-bg-color: #1A1D20;
}

.dark-theme {
  --root-bg-color: #2C0B0E;
  --header-bg-color: #1A1D20;
  --main-bg-color: #212529;
  --button-bg-color: #DC3545;
  --button-hover-bg-color: #FFFFFF;
  --button-text-color: #FFFFFF;
  --button-hover-text-color: #FFFFFF;
  --primary-text-color: #FFFFFF;
  --separator-bg-color: #FFFFFF;
  --mark-button-bg-color: #FFFFFF;
  --logo-filter: invert(100%);
}